@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

/* variable */
:root {
  --primary-color: #1a1b1a;
  --secondary-color: #b99d75;
  --green: #42533f;
  --marcellous-font: "Marcellus", serif;
  --jost-font: "Jost", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--jost-font);
  color: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--marcellous-font);
}

p {
  line-height: 26px;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  color: var(--primary-color);
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.p-80 {
  padding: 80px 0;
}

.button {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.button:hover {
  background-color: var(--secondary-color) !important;
  transition: 0.3s;
  color: #fff !important;
}

/****/
header {
  background: #fff;
}

.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  max-width: 1440px;
  margin: auto;
}

.nav>.nav-header {
  flex: 0.95;
  padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
  font-size: 22px;
  color: var(--primary-color);
}

.nav>.nav-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.nav>.nav-list>li {
  list-style-type: none;
}

.nav>.nav-list>li a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 500;
}

.nav>.nav-list>li a.active {
  color: var(--primary-color);

}

.nav>.nav-list>li a:hover {
  color: var(--primary-color);

}

.nav>#nav-check {
  display: none;
}

header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: url(../img/banner-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  padding: 0 10px;
}

.banner h1 b {
  display: block;
  font-size: 44px;
}

.nav-title a img {
  width: 120px;
}

.banner::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  z-index: -1;
}

.banner h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
}

.banner h1 span {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}


/***************komal********************/

/* banner-bottom */
.banner-btm-txt {
  padding: 30px 15px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto 70px;
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 1px 1px 12px 1px #aaaaaa69;
}

.banner-btm-txt p {
  margin-bottom: 0;
  color: var(--primary-color);
}

/***footer**/
.footer {
  background: var(--primary-color);
  padding: 60px 0 30px;
}

.footer img {
  width: 200px;
  filter: brightness(0) invert(1);
}

footer ul {
  padding-left: 5px;
  padding-top: 10px;
}

footer h3 {
  color: var(--secondary-color);
  font-size: 24px;
}

footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.footer_icon ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.footer_icon li a {
  font-size: 26px;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer_box ul li:not(:last-child) {
  margin-right: 10px;
}

.footer_box ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  flex-wrap: wrap;
}

footer .row {
  align-items: flex-end;
}

.footer_box a {
  line-height: 26px;
}

/***hotels list**/
.list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto 30px;
  padding: 20px;
  box-shadow: 1px 1px 5px 0px #aaaaaa69;
  background: linear-gradient(109deg, #b99d754a, transparent);
}

.list-box>a:first-child {
  width: 20%;
}

.list-box a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  width: 60%;
}

.list-box>a:last-child {
  width: 15%;
  text-align: center;
}

/****cookies*****/
.cookie-alert {
  align-items: baseline;
  background: var(--green);
  color: white;
  left: auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  display: none;
}

.cookie-alert.show {
  display: block;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookie-alert .card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

.cookie-text {
  width: 85%;
  padding-right: 10px;
}

.accept-btn {
  width: 15%;
}

.accept-cookies {
  display: block;
  text-align: center;
}

.cookie-text p {
  margin: 0;
  padding-right: 10px;
  color: #fff;
}

/***disclaimer-sec**/
.disclaimer-sec {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
  background: url("../img/bg-pattern.jpg") no-repeat;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.disclaimer-sec h2 {
  color: #fff;
}

.disclaimer-sec p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}

/***whyus sec**/
.why-box {
  border: 1px solid var(--green);
  height: 100%;
  padding: 20px;
  border-left: 10px solid var(--green);
}

.whyus .row>div {
  margin-bottom: 30px
}

/**europa**/
.banner.sub-banner {
  height: 300px;
}
/**/
.casino-inner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.top-casino .row>div {
  margin-bottom: 30px
}
.casino-content a {
  width: 100%;
  text-align: center;
  background:transparent;
  color: var(--secondary-color);
  font-size: 20px;
}

.casino-content {
  padding: 30px 20px;
  margin: -73px auto 0;
  width: 100%;
  max-width: 80%;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  min-height: 300px;
}
.casino-inner {
  height: 100%;
}

/* hotels */
.hotel-card .contact-hotel {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 4px;
}

.hotel-card h4 {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 24px;
}

.hotel-card h4:before {
  position: absolute;
  content: '';
  background: var(--secondary-color);
  width: 100%;
  height: 2px;
  bottom: -3px;
}

.hotel-card .hotel-des {
  padding: 30px 20px;
}

.hotel-card img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}
.hotel-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  height: 100%;

}
.hotel-card-img {
  overflow: hidden;
}
.hotel-card-img:hover img{
  transform:scale(1.2);
  transition: 0.4s;
}












/* .privacy-term */
.privacy-term {
  padding: 60px 0;
}

.privacy-term h2.main-heading {
  text-align: center;
  margin-bottom: 60px;
  font-size: 48px;
  border: none;
  display: block;
}

.privacy-term h2 {
  border-bottom: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 24px;
  padding-top: 20px
}

.privacy-term ul li {
  position: relative;
  padding-bottom: 10px;
}

.privacy-term ul li:before {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  position: absolute;
  left: -21px;
  top: 7px;
  border-radius: 50%;
}

.privacy-term p a {
  color: #000;
}

.privacy-term a:hover {
  color: var(--primary-color);
}





/***about***/
.banner.subBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url(../images/banner3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
}

/* 
contact us */

.form_cls {
  text-align: start;
  margin-bottom: 25px;
}

.form-control {
  padding: 8px 10px;
  border-radius: unset;

}

label {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.left_contact {
  text-align: center;
}

.left_contact p {
  font-size: 20px;
}

.contact {
  background: url(../images/pattern.png) no-repeat;
  background-size: cover;
  position: relative;
}

.contact:after {
  content: "";
  background: rgb(245 245 245 / 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.left_contact {
  position: relative;
  z-index: 1;
}

.right_contact {
  position: relative;
  z-index: 1;
}